@use './vars' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  li {
    margin: 2px 0
  }
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  border: 1px solid black;
}

.card img {
  background-color: black;
  width: 300px;
  aspect-ratio: 16/9;
  object-fit: contain;
  object-position: top;
}